.text-1{
 font-style: italic;
 display: flex;
 flex-direction: column;
 align-items: center;
}

main{
 background: -webkit-linear-gradient(145deg, #fdb89b60, #cf8bf362, #a770ef3f); 
  background: linear-gradient(145deg, #fdb89b69, #cf8bf350, #a770ef44); 
 text-align: center;
 font-family: "Source Code Pro", monospace;
 box-sizing: border-box;
 color: #000000;
 margin: 20px 20px 20px 20px;
 border-radius: 90px;
 box-shadow: 3px 1px 3px #a770efcc;
 display: flex;
 flex-direction: column;
 align-items: center;
}

h1, h2, h3, h4, h5, h6, p{
 display: flex;
 flex-direction: column;
 align-items: center;
}

i{
 color: #fd0054;
}