body{
 background-image: url(https://i.pinimg.com/originals/d6/c2/bc/d6c2bc5eef34797e9831992d76de249c.gif);
 background-size: cover;
 
}

 header{
  color: rgb(22, 21, 21);
  text-align: center;
  margin-top: 45px;
 }

 

 #ft-perfil{
  border-radius: 100px;
  
  border: 2px;
  border-radius: 75%;
  box-shadow: 0 0 0 2px #07ddc8;
  background: center center no-repeat;
  background-size: cover;
 }

 #ft-perfil:hover{
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
 }

 #msg{
  margin-bottom: 396px;
 }

 h1, #msg, #saudacao {
  text-align: center;
  color: rgba(3, 3, 3, 0.484);
  padding: 20px;
 }

 #saudacao{
  padding: 50px;
 }

 #fundo{ 
 background: #a770ef8a;  
 background: -webkit-linear-gradient(145deg, #fdb89ba4, #cf8bf38f, #a770ef88); 
 background: linear-gradient(145deg, #fdb89b98, #cf8bf385, #a770ef7e); 
 border-radius: 10px;
 padding: 5px;
 width: 600px;
 margin: auto;
 box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.363);
 }

 main{
  text-align: center;
  color: black;
 }

 main, #msg, #saudacao{
  text-align: center;
  padding: 20px;
  color: black;
 }

 .row{
  display: flex;
 }

 .btn-funky-moon{
  background: #038dfd;  
  background: -webkit-linear-gradient(145deg, #04edf5, #4578e4, #a8c7f0); 
  background: linear-gradient(145deg, #04edf5, #4578e4, #a8c7f0); 
  color: #fff;
  border-radius: 40px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  
  }

  a{
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  }
 /*Rodape*/

 footer{
  font: italic;
  color: white;
  text-align: center;
  font-style: italic;
  display: flex;
  align-content: center;
  justify-content: center;
 }
 #img-linkedin img{
  width: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
 }

 footer #img-github img{
  width: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
 }